<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SWS.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SWS.Desktop.Properties.Settings>
            <setting name="SwsConnectionString" serializeAs="String">
                <value>Server=(localdb)\MSSQLLocalDB;Database=SWS;Trusted_Connection=True;TrustServerCertificate=True;</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="EngineeringLogoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientLogoPath" serializeAs="String">
                <value />
            </setting>
        </SWS.Desktop.Properties.Settings>
    </userSettings>
</configuration>